# Based off the creation of a symlink as per https://developer.1password.com/docs/ssh/get-started/#step-4-configure-your-ssh-or-git-client
Host *
  IdentityAgent "~/.1password/agent.sock"

Host example
    HostName example.com
    User myuser
    Port 22
    IdentityFile ~/.ssh/id_example

# As per https://developer.1password.com/docs/ssh/agent/advanced
# Personal GitHub
Host github-personal
	HostName github.com
	User git
	IdentityFile ~/.ssh/personal_git.pub
	IdentitiesOnly yes

# Work GitHub, under an Enterprise Org
Host github-work-org
	HostName github.com
	User git
	IdentityFile ~/.ssh/work_git.pub
	IdentitiesOnly yes
