# Work 2025 Client 2
Host github-work-2025-client-2
  HostName github.com
  User git
  IdentityFile ~/.ssh/work_2025_client_2_github.pub
  IdentitiesOnly yes

Host ado-work-2025-client-2
  HostName ssh.dev.azure.com
  User git
  IdentityFile ~/.ssh/work_2025_client_2_ado.pub
  IdentitiesOnly yes
  # Optional: silence OpenSSH's post-quantum warning for this host.
  # WarnWeakCrypto no-pq-kex
